*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  sans-serif;
}

body{
    background-color:whitesmoke;
}
.nav{
    display: flex;
    justify-content:space-between;
    /* align-items: center; */
    padding:10px 20px;
}
.btn{
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: purple;
    color: white;

}
.herosec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.bt{
    background-color: purple;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.hero{
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 40px;
}
.img{
    position: relative;
}
.img img{
    border-radius: 50%;
    width:280px;
    height:300px;
    margin-right: 20px;
}
.ba{
    position: absolute;
    background-color:grey;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0 5px 10px white;
}
.h{
    bottom: 10px;
    left: 20px;
}
.m{
    top: 10px;
    right: 20px;
}
.ba span{
    font-size: 12px;
    font-weight: normal;

}
.coucard{
display: grid;
 grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
 gap: 20px;
 padding: 20px;
transition: 1s;

}

.height{
    font-size:small;
    background-color: rgb(187, 115, 20);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;

}
.card{
    background-color: rgb(187, 115, 20);
    color: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 220px;
    transition: 1s;

    
}
.card:hover{
    background-color: aqua;
    cursor: pointer;
}
.card p{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}


.card h1{
    margin-bottom: 20px;
    /* display:; */
    
    
}
.card a{
    text-decoration: none;
    color: black;
    margin-top: auto;
    cursor: pointer;
}
.foot{
    display: flex;
justify-content: space-between;
padding: 10px;
margin: 10px;
}
/* .card h1{

} */
 @media (max-width:600px){
    .hero{
flex-direction:column;
text-align:center;
 }
 .img img{
    width: 200px;
 }
 @media (min-width:600px) and(max-width:1024px) {
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .img img{
        width:400px;
    }
 }
 }
  @media (min-width:1024px) {
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .img img{
        width:400px;
    }
 }
 
 /* @media (min-width:600px) and(max-width:1024px){
    .full{
        width: 50%;
    }
 }
 @media (min-width:1025px) {
    .full{
        width: 33.33%;
    }
    
 }
  */

